In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib

In [5]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/Householdenergybilldata.csv")

In [6]:
df.head(2)

,num_rooms,num_people,housearea,is_ac,is_tv,is_flat,ave_monthly_income,num_children,is_urban,amount_paid
0,3,3,742.57,1,1,1,9675.93,2,0,560.481447
1,1,5,952.99,0,1,0,35064.79,1,1,633.283679

In [7]:
df = df.drop(["is_flat","housearea","ave_monthly_income"],axis = "columns")

In [8]:
df.head(1)

   num_rooms  num_people  is_ac  is_tv  num_children  is_urban  amount_paid
0          3           3      1      1             2         0   560.481447

In [9]:
outlier_mask = df["num_rooms"]<1
df = df[~outlier_mask]

In [10]:
X = df.drop("amount_paid" , axis = "columns")
y = df["amount_paid"]

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [13]:
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8513903804827674

In [14]:
def predict_price(no_of_rooms, no_of_people, is_ac,is_tv,num_children,is_urban):
    new_df = pd.DataFrame({"num_rooms": [no_of_rooms], "num_people": [no_of_people], "is_ac": [is_ac] , "is_tv":[is_tv], "num_children": [num_children],"is_urban":[is_urban]})
    prediction = model.predict(new_df)
    return prediction[0]

In [15]:
predict_price(3,3,1,1,2,0)

641.6719732967879

In [16]:
import pickle
with open("ElectricityBill.pickle","wb") as f:
  pickle.dump(model,f)

In [17]:
import json
columns = {
    "data_columns" : [col.lower() for col in X.columns]
}
with open("Columns.json","w") as f:
  f.write(json.dumps(columns))